.layout
  width: 640px
  margin: 0 auto

  &__cards_wrapper
    display: flex
    flex-direction: column
    gap: 16px

    &__action_button
      display: flex
      justify-content: space-between
      align-items: center
      width: 71px
      padding: 3px 12px
      font-weight: 600
      font-size: 11px
      line-height: 20px
      letter-spacing: 0.48px
      text-align: center
      vertical-align: middle


    &__action_button svg
      position: unset