.layout
  width: 640px
  margin: 0 auto

  &__cards_wrapper
    display: flex
    flex-direction: column
    gap: 16px


  &__images_wrapper
    display: flex
    gap: 12px


input[type="file"]
  position: absolute
  opacity: 0
  width: 0.1px
  height: 0.1px
  overflow: hidden
  z-index: -1