@mixin filled-button-styles()
  color: #FFFFFFF2
  background-color: rgb(59, 59, 59)
  transition: background-color 0.3s ease

  .icon
    color: white

  &:hover
    background-color: rgb(98, 98, 98)
    color: rgba(255, 255, 255, 0.95)

    .icon
      color: rgba(255, 255, 255, 0.95)

  &:active
    background-color: rgb(118, 118, 118)
    color: rgba(255, 255, 255, 0.95)

    .icon
      color: rgba(255, 255, 255, 0.95)



button
  line-height: 20px
  letter-spacing: 0.48px
  cursor: pointer

.filled,
.outline
  font-size: 13px
  font-weight: 600
  padding: 10px 12px
  width: 100%
  border: none
  border-radius: 8px
  position: relative

  svg
    position: absolute
    top: 12px
    left: 12px

.outline
  padding: 9px 12px


.filled
  @include filled-button-styles()


.outline
  color: rgba(59, 59, 59, 1)
  background-color: rgb(255, 255, 255)
  border: 1px solid rgba(0, 0, 0, 0.2)
  transition: background-color 0.3s ease

  .icon
    color: rgba(59, 59, 59, 1)


  &:hover
    color: #6D4AFF
    border: 1px solid rgba(0, 0, 0, 0.4)
    .icon
      color: rgba(109, 74, 255, 1)

  &:active
    color: #6243E6
    border: 1px solid rgba(98, 67, 230, 1)
    .icon
      color: rgba(98, 67, 230, 1)




.flattened
  display: flex
  justify-content: space-between
  align-items: center
  gap: 8px

  padding: 4px 8px
  max-width: 73px
  border-radius: 8px
  border: 1px solid rgba(0, 0, 0, 0.2)
  font-weight: 600
  font-size: 11px
  color: rgba(59, 59, 59, 1)
  background-color: rgb(255, 255, 255)
  transition: background-color 0.3s ease

  .icon
    color: rgba(59, 59, 59, 1)

  &:hover
    border: 1px solid rgba(0, 0, 0, 0.4)
    color: rgba(109, 74, 255, 1)

    .icon
      color: rgba(109, 74, 255, 1)


  &:active
    border: 1px solid rgba(98, 67, 230, 1)
    color: rgba(98, 67, 230, 1)

    .icon
      color: rgba(98, 67, 230, 1)


.only_icon
  display: flex
  align-items: center
  justify-content: center

  border: none
  border-radius: 8px
  padding: 6px
  transition: background-color 0.3s ease

  @include filled-button-styles()


.arrow
  width: 32px
  height: 32px
  background-color: white
  border-radius: 50%
  border: none

  display: flex
  align-items: center
  justify-content: center
  transition: background-color 0.3s ease

  .icon
    color: rgba(59, 59, 59, 1)

  &:hover
    background-color: rgb(245, 245, 245)

  &:active
    background-color: rgb(234, 230, 253)